@model Dinamico.Models.CustUpdate
@section page {

    <h1>Import Result</h1>
    <p>@Model.AccountName</p>
    <p>@Model.AccountNumber</p>
    <p>@Model.CellPhone</p>
    <p>@Model.Email</p>
    <p>@Model.HomePhone</p>
    <p>@Model.IntroText</p>
    <p>@Model.Want_CellCall</p>
    <p>@Model.Want_CellSMS</p>
    <p>@Model.Want_Email</p>
    <p>@Model.Want_EmergencyEmail</p>
    <p>@Model.Want_HomeCall</p>
    <p>@Model.Want_WorkCall</p>
    <p>@Model.WorkPhone</p>
    <p>@Model.ZipCode</p>

}